@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400;600&family=Great+Vibes&family=Lora:ital,wght@1,400;1,500;1,600&family=Philosopher:wght@400;700&family=Redressed&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Saira+Condensed:wght@500&display=swap");
:root {
    --textcolor: #ede4d0;
    --headerbgcolor: #1d1d1d;
    --infoscolor: black;
    --backselec: rgb(253, 253, 99);
}

* {
    font-family: "Redressed", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    margin: 0;
}

li {
    list-style: none;
}

p {
    font-size: 1.2rem;
}

body {
    min-height: 100vh;
    background: var(--headerbgcolor);
    color: var(--textcolor);
}

nav {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 15px 30px;
}

nav ul {
    display: grid;
    grid-template-columns: 43% 43% 43%;
}

.header {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 30px 30px;
}

.header-left {
    display: grid;
    width: 95%;
    justify-content: center;
    align-items: center;
    /*permet l'alignement vertical*/
}

.header-left-container h1 {
    font-size: 3rem;
}

.header-left-container h3 {
    color: #474dff;
    font-size: 2rem;
}

.header-right {
    width: 95%;
    padding: 20px 30px;
}

#imagemodem {
    height: 500px;
}

.infos {
    display: grid;
    grid-template-columns: 30% 70%;
    background: var(--infoscolor);
    margin: 20px 20px;
    border-radius: 10px;
    padding: 10px 20px;
}

.infos-left h3 {
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}

.btn-container {
    display: grid;
    grid-auto-columns: 85%;
    justify-content: space-around;
}

button {
    border: none;
    background: #474dff;
    color: white;
    width: 150px;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 05px 0;
}

.infos-right {
    display: grid;
}

.infos-right h3 {
    font-family: "Inter", sans-serif;
}

.investors {
    display: grid;
}

.img-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /* justify-items: center;
    align-items: center; */
}

.img-container img {
    width: 80px;
    place-self: center top;
    /*permet de centrer les elements verticalement et horizontalement mais pour cela il faudrait d'abord que son parent soit en display-grid(infos-right)*/
}